<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dodotdo.himsadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    ㄹ
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.RequirementDetailActivity" />
        <activity android:name=".activity.EmployeeListActivity" />
        <activity android:name=".activity.EmployeeListMemeberActivity" />
        <activity
            android:name=".activity.RequirementSendActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.RoomDetailActivity" />
        <activity android:name=".activity.EmployeeMemberListActivity" />
        <activity android:name=".activity.RoomAssignActivity" />
        <activity android:name=".activity.RoomAssignEmployeeAcitivity"></activity>
    </application>

</manifest>